

.registerForm-container{
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 600px;
}

.registerForm h1{
  color: var(--primary-color);
  padding-top: 20px;
}

.registerForm{
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
}

.info-register{
  background-color: var(--grey);
  border-color: rgba(128, 128, 128, 0.3);
  border-radius: 8px;
  border-style: solid;
  margin: 8px 0px;
  padding: 10px 5px;
  text-align: left;
  width: 80%;
}

.registerForm>label{
  font-size: 0.9rem;
  margin-top: 10px;
  padding-left: 27px;
  position: relative;
}

input[type="checkbox"] {
  display: none;
}

label {
  margin-top: 10px;
  position: relative;
  padding-left: 27px;
  font-size: 0.9rem;
}

input[type="checkbox"]:checked+label::before {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: white;
}

label::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-style: solid;
  position: absolute;
  border-color: var(--primary-color);
  left: 1px;
  bottom: -1px;
}

.buttonsRegister{
  display: flex;
  justify-content: space-between;
  margin: 40px 0px 10px;
  padding-bottom: 10px;
  width: 80%;
}

.buttonsRegister input,
.buttonsRegister a {
    align-items: center;
    border-radius: 10px;
    border-style: solid;
    display: flex;
    font-size: 0.8rem;
    font-weight: 700;
    height: 40px;
    justify-content: center;
    width: 48%;
}


.buttonsRegister input{
  background-color: var(--primary-color);
  color: var(--white);
  cursor: pointer;
  transition: linear 0.3s;
}
.buttonsRegister a {
  background-color: var(--white);
  border-color: var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
  transition: linear 0.3s;
}

.buttonsRegister a:hover {
  background-color: var(--primary-color);
  color: var(--white);
  cursor: pointer;
  transition: linear 0.3s;
}

.buttonsRegister input:hover {
  background-color: var(--white);
  border-color: var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
  transition: linear 0.3s;
}











